.waves--container {
  height: 50vh;
  > .section {
    padding: 25vh 0;
    position: relative;
    overflow: hidden;

    > .container {
      text-align: center;
      position: relative;
      z-index: 5;
    }

    &.-red {
      background-color: #6e1d1d;
    }

    &.-blue {
      background-color: #1c5e9c;
    }

    &.-yellow {
      background-color: #000000;
    }

    &.-green {
      background-color: #19692e;
    }

    &.-purple {
      background-color: #581d6e;
    }

    &.-orange {
      background-color: #733c1f;
    }
  }
}

.blob1 {
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
}

.blob2 {
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: 1;
}

.custom--wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.spacer {
  aspect-ratio: 960/300;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.layer1 {
  background-image: url("../../../images/waves/layered-waves-haikei.svg");
}

.layer2 {
  background-image: url("../../../images/waves/wave-haikei_3.svg");
}
