.small--slider {
  margin-left: calc(70% - 180px);
  position: absolute;
  width: calc(30% + 180px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  display: none;
  cursor: pointer;

  @screen lg {
    margin-left: calc(75% - 180px);
    width: calc(25% + 180px);
    display: block;
  }

  .swiper-slide {
    filter: blur(3px);
    cursor: initial;
  }

  .slider--item {
    height: 300px;
  }

  .swiper-slide-active,
  .swiper-slide-prev {
    opacity: 0;
    pointer-events: none;
  }

  .swiper-slide-next {
    position: relative;
    filter: blur(0);
    cursor: pointer;

    &::after {
      content: "";
      width: 100%;
      height: 110%;
      position: absolute;
      left: 100%;
      top: -5%;
      opacity: 0.6;
      filter: blur(8px);
      z-index: 10;
    }
  }

  .slider--item {
    cursor: pointer;
    position: relative;

    border-radius: 10px;
    border: solid 2px;
  }
}

.description--slider {
  margin-top: -2rem;
  padding-top: 6rem;

  .description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    &.-border {
      border: solid 2px;
      padding-bottom: 2rem !important;
      margin-bottom: 1rem;
      border-top: none;
      border-radius: 0 0px 20px 20px;
      margin-top: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.slide--nav {
  width: 200px;
  height: 4rem;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.nav--wrapper {
  width: 50%;
  text-align: center;
  cursor: pointer;
  height: 4rem;
  position: relative;
  display: block;
  background: #282c34;
  border-radius: 0 20px 20px 0;
  border: 2px solid;
  @apply border-white;

  &.-left {
    border-radius: 20px 0 0 20px;
    &:hover {
      .swiper-button-prev {
        left: 3rem;
      }
    }

    .swiper-button-prev {
      background-image: url("../../../images/icons/next.png");
      background-size: contain;
      background-position: center;
      width: 3rem;
      height: 3rem;
      left: 4rem;
      bottom: 0.5rem;
      top: 3px;
      transition: all 0.3s;
      position: absolute;
      transform: rotate(-180deg);

      &::after {
        display: none;
      }
    }
  }

  &.-right {
    &:hover {
      .swiper-button-next {
        right: 3rem;
      }
    }
    .swiper-button-next {
      background-image: url("../../../images/icons/next.png");
      background-size: contain;
      background-position: center;
      width: 3rem;
      height: 3rem;
      right: 4rem;
      bottom: 0.5rem;
      top: 3px;
      transition: all 0.3s;
      position: absolute;

      &::after {
        display: none;
      }
    }
  }
}

.big--slider {
  .slider--item {
    height: 350px !important;
    border-radius: 20px;
    border: solid 3px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@screen md {
  .sliders--container .head {
    margin-bottom: 4rem !important;
  }

  .big--slider {
    .slider--item {
      height: 500px !important;
    }
  }

  .slide--nav {
    width: 250px;

    .nav--wrapper {
      &.-left {
        .swiper-button-prev {
          left: 5rem;
        }
        &:hover {
          .swiper-button-prev {
            left: 4rem;
          }
        }
      }

      &.-right {
        .swiper-button-next {
          right: 5rem;
        }

        &:hover {
          .swiper-button-next {
            right: 4rem;
          }
        }
      }
    }
  }
}

@screen lg {
  .big--slider {
    .slider--item {
      height: 600px !important;
    }
  }
}

@screen xl {
  .big--slider {
    .slider--item {
      height: 800px !important;
    }
  }

  .small--slider {
    margin-left: calc(70% - 180px);
    width: calc(30% + 180px);

    .slider--item {
      height: 400px;
    }
  }

  .slide--nav {
    width: 300px;

    .nav--wrapper {
      &.-left {
        .swiper-button-prev {
          left: 6rem;
        }
        &:hover {
          .swiper-button-prev {
            left: 5rem;
          }
        }
      }

      &.-right {
        .swiper-button-next {
          right: 6rem;
        }

        &:hover {
          .swiper-button-next {
            right: 5rem;
          }
        }
      }
    }
  }
}
