.btn--component {
  display: inline-block;
  font-weight: 700;
  font-size: 2.4rem;
  padding: 1.2rem 4.5rem;
  border-radius: 15px;
  cursor: pointer;
  @apply bg-violet;
  @apply text-white;
  transition: all 0.3s;
  border: solid 2px;
  @apply border-violet;

  &:hover {
    @apply bg-white;
    @apply text-violet;
  }
}
