.verticle--wrapper {
  overflow: hidden;
  position: relative;
  transition: all 0.2s;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @apply bg-black;
  }
}

.slide--background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  > .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @apply bg-black;
    padding: 5rem 3rem 4rem 3rem;
    transition: all 0.3s;

    &.-blur {
      filter: blur(5px);
    }
  }
}

.footer--nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.arrow--down {
  background-image: url("../../../images/icons/arrow_down.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
  cursor: pointer;

  &.-rotate {
    transform: rotate(180deg);
  }
}

.vertical--slider {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  .swiper-pagination {
    .swiper-pagination-bullet {
      @apply bg-white;
      opacity: 0.4;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      height: 130%;
      width: 30px;
      top: -15%;
      left: -10px;
      @apply bg-black;
      z-index: -1;
      border-radius: 15px 0 0 15px;
    }
  }
}

.menu--body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
